.main-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    position: relative;
}

.start-button {
    background-color: red;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px;
    width: calc(100%);
    margin: 16px;
    font-size: 18px;
    position: absolute;
    bottom: 25px;
}

@keyframes moveTitle {
    0% {
        transform: translateY(0);
        font-size: 45px;
    }

    100% {
        transform: translateY(-95px);
        font-size: 24px;
    }
}

.title {
    transition: transform 1s ease;
    position: fixed;
    top: 106px;
    width: 100%;
    text-align: center;
}

.title .bad-nerves {
    font-family: 'Inter', sans-serif;
    color: red;
    font-weight: 900;
    letter-spacing: -4px;
}

.title .quiz {
    font-family: 'Karantina', sans-serif;
    color: white;
    font-weight: 200;
    font-size: 60px;
}

.subtitle {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    margin-top: 60px;
}

.text {
    font-family: 'Roboto', sans-serif;
    font-size: medium;
    margin-top: -10px;
}

.title.animate {
    animation: moveTitle 1s forwards;
}