.correct {
    background-color: green;
    color: white;
}

.incorrect {
    background-color: red;
    color: white;
}

.correct-transparent {
    background-color: rgba(0, 128, 0, 0.61);
    color: white;
}